.link {
  border: none;
  border-bottom: 2px solid rgb(62, 62, 63);
  margin-top: 0px;
}
.link:hover {
  border-bottom: 2px solid #eb6753;
  color: #eb6753;
}
.title-text {
  margin: -21px 0 4px 0;
}
.property-text {
  font-size: 13px;
  line-height: 22px;
}
.desc-text {
  font-size: 13px;
  padding: 4px 0px;
  line-height: 20px;
  margin: 4px 0;
}
.content-wrapper {
  padding: 0 10px;
}
.pdfContainer {
  position: relative;
  width: 100%;
  height: 300px;
  max-width: 100%;
  overflow: hidden;
  border-radius: 7px;
  background: #f1f1f1;
}

.pdfContainer .react-pdf__Page {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.pdf_container {
  transform: translate(63px, -1px);
}

@media screen and (min-width: 375px) {
  .pdf_container {
    transform: translate(83px, -1px);
  }
}
@media screen and (min-width: 425px) {
  .pdf_container {
    transform: translate(113px, -1px);
  }
}
@media screen and (min-width: 500px) {
  .pdf_container {
    transform: translate(150px, -1px);
  }
}
@media screen and (min-width: 550px) {
  .pdf_container {
    transform: translate(170px, -1px);
  }
}

@media screen and (min-width: 576px) {
  .pdf_container {
    transform: translate(43px, -1px);
  }
}
@media screen and (min-width: 768px) {
  .title-text {
    margin: 10px 0 4px 0;
  }
}

@media screen and (min-width: 992px) {
  .pdf_container {
    transform: translate(15px, -1px);
  }
}
@media screen and (min-width: 1400px) {
  .pdf_container {
    transform: translate(23px, -1px);
  }
}
