/* global.css */
.quillEditorTextHandler ul {
  list-style-type: disc !important; /* Ensure bullet points */
  padding-left: 20px !important; /* Ensure indentation */
}

.quillEditorTextHandler ol {
  list-style-type: decimal !important; /* Ensure numbering */
  padding-left: 20px !important; /* Ensure indentation */
}

.quillEditorTextHandler li {
  margin-bottom: 5px !important;
  list-style-type: inherit !important; /* Ensure space between items */
}
